.item-wrap {
	max-width: 1280px;
	margin: 0 auto;
}
.item-wrap .items { /* 자식들을 감싸고 있는 부모 */
	display: block;
	font-size: 0; /* 가장 중요한 font-size: 0; 속성 */
	margin: 0 -5px; /* 너비간 10px 간격을 만들기 위해 남은 5px을 양옆으로 땡겨줌 */
}
.item-wrap .items .item { /* 나란히 배치할 영역 */
	display: inline-block;
	width: 50%;
	padding: 0 5px; /* 간격을 위해 각 너비에 준 패딩 5px을 줌 */
	vertical-align: middle; /* 나란히 배치하는 와중에 수직정렬도 가운데로 하려고 준 속성 */
	text-align: center; /* 영역 안 태그들의 텍스트가 center로 오도록 준 속성 */
	box-sizing: border-box; /* width값이 오롯이 50%를 갖게 하기 위해 준 속성 */
}
.item-wrap .items .item .inner { /* 나란히 배치할 영역 안 텍스트를 감싼 div */
	height: 200px;
	font-size: initial; /* font-size: 0;을 하면 그 아래 자식들 모두 상속받기 때문에 텍스트가 있는 경우라면 꼭 줘야할 속성 */
	background: aliceblue; /* 간격과 영역을 보여주기 위한 속성 */
}
.item-wrap .items .item .inner:before { /* 텍스트를 수직 가운데 정렬하기 위한 가상선택자 */
	content: ''; /* 가상선택자 안에 빈값을 넣어주기 위해 적용한 속성 */
	display: inline-block; /* inline-block이어야 vertical-align을 쓸 수 있기 때문에 준 속성 */
	vertical-align: middle; /* 수직 가운데 정렬을 하기 위해 준 속성 */
	width: 0; /* 다음에 올 태그와 수직을 맞추기 위한 것이므로 width값은 필요없어서 0으로 줌 */
	height: 100%; /* height값은 부모의 높이값을 100% 상속받아야 하기 때문에 준 속성 */
}
.item-wrap .items .item .inner span { /* 가상선택자와 나란히 배치하기 위해 준 속성 */
	display: inline-block;
	vertical-align: middle;
}

