<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self' https://fonts.googleapis.com; img-src 'self'; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; media-src 'self'; object-src 'self'; child-src 'self'; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

   {%- include head.html -%}

  <body>
    
    <div class="container">
        {%- include header.html -%}
      
    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>
     <div class="audio-player">
        <div class="song-title">𝚄𝚗𝚍𝚎𝚛𝚝𝚊𝚕𝚎 𝙾𝚂𝚃 𝟶𝟿𝟶 𝙷𝚒𝚜 𝚃𝚑𝚎𝚖𝚎</div>
        <audio class="audio-element" src="music/Undertale.mp3"></audio>
        <div class="controls">
            <span class="current-time">0:00</span>
            <input type="range" class="progress-bar" value="0">
            <span class="duration">0:00</span>
        </div>
        <div class="buttons">
            <button class="control-button shuffle">⇆</button>
            <button class="control-button prev">◁</button>
            <button class="control-button play-pause">▶</button>
            <button class="control-button next">▷</button>
            <button class="control-button replay">↻</button>
        </div>
    </div>
    <script src="audio-scripts.js"></script>
  </body>
</html>
