<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self' https://fonts.googleapis.com; img-src 'self'; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; media-src 'self'; object-src 'self'; child-src 'self'; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

   {%- include head.html -%}

  <body>

 {%- include header.html -%}
    
    <div class="container">
             <div class="profile-box">
            <img src="contents/elmo.png" alt="elmo">
            <div class="divider"></div> <!-- 구분선 -->
            <h2>임세나</h2>
            <p>으에으에으에</p>
        </div>
      
    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>
  </body>
</html>
