<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self' https://fonts.googleapis.com; img-src 'self'; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; media-src 'self'; object-src 'self'; child-src 'self'; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

   {%- include head.html -%}

  <body>
     <div class="profile-container">
       <div class="profile-box">
            <img src="contents/juice.jpg" alt="juice">
            <div class="divider"></div> <!-- 구분선 -->
            <h1>XENA</h1>
            <sup>2002.08.30</sup>
            <p>-</p>
            <p>(｡-_-｡)</p>
        </div>
    <div class="container">
    </div>
        {%- include header.html -%}
      
    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>
<style>
/* <br> 태그에 간격 추가 */
br.custom-space {
    display: block;
    content: "";
    margin-top: 20px; /* 원하는 간격 값 */
}
</style>
  </body>
</html>
