---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

<section class="recent-posts">
  <h2>✂ New Post　- - - - - - -</h2>
  <ul>
    {% assign all_posts = site.post1 | concat: site.post2 | concat: site.post3 %}
    {% assign sorted_posts = all_posts | sort: 'date' | reverse %}
    {% assign recent_posts = sorted_posts | slice: 0, 3 %}
    {% for post in recent_posts %}
      <li>
        [ {{ post.date | date: "%Y-%m-%d" }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </li>
    {% endfor %}
  </ul>

 <script src="scripts.js"></script> <!-- 스크립트 파일을 불러옵니다. -->
    <script>
        // 페이지 로드 후 createCalendar 함수 호출
        document.addEventListener("DOMContentLoaded", function () {
            createCalendar("calendar", new Date().getFullYear(), new Date().getMonth() + 1);
        });
    </script>

      <audio id="audioPlayer" controls style="width: 100%;">
  <source src="/music/Undertale OST 090 His Theme.mp3" " type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<div id="playerControls">
  <button id="playButton">재생</button>
  <button id="pauseButton">일시 정지</button>
</div>

<script>
  const audioPlayer = document.getElementById('audioPlayer');
  const playButton = document.getElementById('playButton');
  const pauseButton = document.getElementById('pauseButton');

  playButton.addEventListener('click', () => {
    audioPlayer.play();
  });

  pauseButton.addEventListener('click', () => {
    audioPlayer.pause();
  });
</script>
</section>
